@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    /*font-family: 'Raleway', sans-serif;*/

}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

body{
    background-color: white;
    color: rgb(80, 180, 211);
    /*background: linear-gradient(90deg, red, yellow, rgb(204, 204, 255));*/
}

.glass{
    width: 70%;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
    margin: 0 auto;
    height: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.23);
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes transform{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(2);
    }

    100%{
        transform: scale(1);
    }
}



header{
    background-color: rgb(80, 180, 211);
    height: 100px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.23);
    /*Styling below makes header fixed in the browser window*/
    /*position: fixed;*/
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
}

#header-title{
    padding: 20px;
    color: #fcf8ec;
    width: 70%;
    margin: 0 auto;
}

#profile-pic{
    width: 289px;
    /*border: 32px solid #79a3b1;*/
    border-radius: 10%;
    padding: 10px;

    
}

#central-wa{
    width: 50%;
    padding: 20px;
    border-radius: 10%;
}

.about, .education{
    display: flex;
    width: 70%;
    margin: 12px auto;
    padding: 20px;
    
}

img:hover{
    animation-name: border-radius;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes border-radius{
    

    100%{
        border-radius: 50%;
    }

}


.skills{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}



.about-text, .education-text{
    padding: 35px;
    margin: 10px;
}

#about-card, #education-card, #skills-card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
    /*adding a negative in the margin does some crazy stuff. save for later 
    margin: -50px auto -50px auto; */
    margin: 50px auto 50px auto;
    /*border: 6px solid rgb(80, 180, 211);*/
    background: linear-gradient(35deg, #ccffff, #ffcccc);
}

/*Item scales up when hovered over*/
#about-card:hover, #education-card:hover, #skills-card:hover{
    animation-name: transform;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
}

@keyframes transform{
    100%{
        transform: scale(1.1);
    }
}



.about-text > h2{
    padding: 10px;
}

.skills-text{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.technologies{
    grid-column: 1/2;
}

.technologies, .languages, .soft-skills{
    padding: 10px;
    
}

li{
    border: 2px solid #333;
    border-bottom: 16px solid #333;
    border-left: 16px solid #555;
    color: #333;
}

p{
    padding: 10px;
    line-height: 25px;
    color: #333;
}